# Code for estimating survival on Titanic (Kaggle Competition)

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
train = pd.read_csv("~/samurai/kaggle/titanic/data/train.csv")
test = pd.read_csv("~/samurai/kaggle/titanic/data/test.csv")

In [3]:
train

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [4]:
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [5]:
test = test.drop(columns=("Embarked"))

In [6]:
test = test.drop(columns=("Cabin"))

In [7]:
test = test.drop(columns=("Ticket"))

## Pclass

In [8]:
pclass_table = pd.crosstab(
    train["Survived"]==1,
    train["Pclass"],
    margins=True,
    normalize="columns" 
)

In [9]:
pclass_table

Pclass          1         2         3       All
Survived
False     0.37037  0.527174  0.757637  0.616162
True      0.62963  0.472826  0.242363  0.383838

In [10]:
pclass_table[1][1]

0.6296296296296297

In [11]:
# Given the Pclass,
# Pclass(1) = 62.9% Chance of survival
# Pclass(2) = 47.3% Chance of survival
# Pclass(3) = 24.2% Chance of survival

## Sex

In [12]:
sex_table = pd.crosstab(
    train["Survived"]==1,
    train["Sex"],
    margins=True,
    normalize="columns"
)

In [13]:
sex_table

Sex         female      male       All
Survived
False     0.257962  0.811092  0.616162
True      0.742038  0.188908  0.383838

In [14]:
# Given Sex,
# Male = 18.9% Chance of survival
# Female = 74.2% Chance of survival

## Age

In [15]:
age_table =pd.crosstab(
    train["Survived"]==1,
    train["Age"],
    normalize="columns"
)

In [16]:
age_table

Age,0.42,0.67,0.75,0.83,0.92,1.00,2.00,3.00,4.00,5.00,...,62.00,63.00,64.00,65.00,66.00,70.00,70.50,71.00,74.00,80.00
Survived,,,,,,,,,,,,,,,,,,,,,
False,0.0,0.0,0.0,0.0,0.0,0.285714,0.7,0.166667,0.3,0.0,...,0.5,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
True,1.0,1.0,1.0,1.0,1.0,0.714286,0.3,0.833333,0.7,1.0,...,0.5,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [17]:
age_table[1][1]

0.7142857142857143

In [18]:
age_table[min(age_table, key=lambda x:abs(x-1))][1] #pd.crosstabのmarginsを消さないとエラーが出る？

0.7142857142857143

In [19]:
# Use age table to calculate chance of survival per age
# use later

## SibSp

In [20]:
sibsp_table = pd.crosstab(
    train["Survived"]==1,
    train["SibSp"],
    margins=True,
    normalize="columns"
)

In [21]:
sibsp_table

SibSp            0         1         2     3         4    5    8       All
Survived
False     0.654605  0.464115  0.535714  0.75  0.833333  1.0  1.0  0.616162
True      0.345395  0.535885  0.464286  0.25  0.166667  0.0  0.0  0.383838

In [22]:
sibsp_table[0][1]

0.34539473684210525

## Parch

In [23]:
parch_table = pd.crosstab(
    train["Survived"]==0,
    train["Parch"],
    normalize="columns"
)

In [24]:
parch_table

Parch            0         1    2    3    4    5    6
Survived
False     0.343658  0.550847  0.5  0.6  0.0  0.2  0.0
True      0.656342  0.449153  0.5  0.4  1.0  0.8  1.0

## Fare

In [25]:
titanic_fare = train[["Survived","Fare"]]

In [26]:
fare_table = pd.crosstab(
    train["Survived"]==1,
    train["Fare"],
    normalize="columns"
)

In [27]:
fare_table

Fare,0.0000,4.0125,5.0000,6.2375,6.4375,6.4500,6.4958,6.7500,6.8583,6.9500,...,153.4625,164.8667,211.3375,211.5000,221.7792,227.5250,247.5208,262.3750,263.0000,512.3292
Survived,,,,,,,,,,,,,,,,,,,,,
False,0.933333,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.333333,0.0,0.0,1.0,1.0,0.25,0.5,0.0,0.5,0.0
True,0.066667,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.666667,1.0,1.0,0.0,0.0,0.75,0.5,1.0,0.5,1.0

In [28]:
fare_table[min(fare_table, key=lambda x:abs(x-0))][1]

0.06666666666666667

# Time to test

In [29]:
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Fare
0,892,3,"Kelly, Mr. James",male,34.5,0,0,7.8292
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,7.0000
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,9.6875
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,8.6625
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,12.2875

In [30]:
test = test.drop(columns=("Name"))

In [31]:
test

     PassengerId  Pclass     Sex   Age  SibSp  Parch      Fare
0            892       3    male  34.5      0      0    7.8292
1            893       3  female  47.0      1      0    7.0000
2            894       2    male  62.0      0      0    9.6875
3            895       3    male  27.0      0      0    8.6625
4            896       3  female  22.0      1      1   12.2875
..           ...     ...     ...   ...    ...    ...       ...
413         1305       3    male   NaN      0      0    8.0500
414         1306       1  female  39.0      0      0  108.9000
415         1307       3    male  38.5      0      0    7.2500
416         1308       3    male   NaN      0      0    8.0500
417         1309       3    male   NaN      1      1   22.3583

[418 rows x 7 columns]

In [32]:
test["Age"].describe()

count    332.000000
mean      30.272590
std       14.181209
min        0.170000
25%       21.000000
50%       27.000000
75%       39.000000
max       76.000000
Name: Age, dtype: float64

In [33]:
test.isna().sum()

PassengerId     0
Pclass          0
Sex             0
Age            86
SibSp           0
Parch           0
Fare            1
dtype: int64

In [34]:
test["Age"].fillna(30.27,inplace=True)#NaNには平均年齢を代用

In [35]:
test.isna().sum()

PassengerId    0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Fare           1
dtype: int64

In [36]:
test["Fare"].describe()

count    417.000000
mean      35.627188
std       55.907576
min        0.000000
25%        7.895800
50%       14.454200
75%       31.500000
max      512.329200
Name: Fare, dtype: float64

In [37]:
test["Fare"].fillna(35.6, inplace=True)

In [38]:
test.isna().sum()

PassengerId    0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Fare           0
dtype: int64

## Calculating data based off test.csv

In [39]:
# 考えているコードの書き方のまとめ
# すごく雑で効率がすごく悪い気がしますが、取り敢えず試してみます
# Get range of test list = 417
# Use the crosstab tables made earlier to get the survival rate and add it to a 
# Add all of the values and divide by the number of factors

In [40]:
test_pclass_calculated = []
for x in range(418):
    test_pclass_calculated.append(pclass_table[(test["Pclass"][x])][1])

In [41]:
test_sex_calculated = []
for x in range(418):
    test_sex_calculated.append(sex_table[(test["Sex"][x])][1])

In [42]:
test_age_calculated = []
for x in range(418):
    b = test["Age"][x]
    test_age_calculated.append(
        age_table[
            min(age_table, key=lambda x:abs(x-b))][1]
    )

In [43]:
test_sibsp_calculated = []
for x in range(418):
    test_sibsp_calculated.append(sibsp_table[(test["SibSp"][x])][1])

In [44]:
test_parch_calculated = []
for x in range(418):
    c = test["Parch"][x]
    test_parch_calculated.append(
        parch_table[
            min(parch_table, key=lambda x:abs(x-c))][1]
    )

In [45]:
test_fare_calculated = []
for x in range(418):
    d = test["Fare"][x]
    test_fare_calculated.append(
        fare_table[
            min(fare_table, key=lambda x:abs(x-d))][1]
    )

In [46]:
#全部入ったか確かめる

In [47]:
test_fare_calculated

[0.5,
 0.5,
 0.5,
 0.07692307692307693,
 1.0,
 0.0,
 0.0,
 1.0,
 0.26666666666666666,
 0.125,
 0.02631578947368421,
 0.4838709677419355,
 0.5,
 0.4838709677419355,
 0.0,
 0.2,
 0.6666666666666666,
 0.25,
 0.4444444444444444,
 0.25,
 1.0,
 0.0,
 0.75,
 0.0,
 1.0,
 0.2857142857142857,
 0.0,
 0.25,
 0.8,
 0.0,
 0.4838709677419355,
 0.75,
 0.5,
 0.0,
 1.0,
 0.26666666666666666,
 0.11627906976744186,
 0.07692307692307693,
 0.2222222222222222,
 0.7142857142857143,
 1.0,
 0.5333333333333333,
 0.23076923076923078,
 0.38095238095238093,
 1.0,
 0.4444444444444444,
 0.3333333333333333,
 0.35294117647058826,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 0.5,
 0.0,
 0.0,
 0.02631578947368421,
 0.25,
 0.2222222222222222,
 1.0,
 0.02631578947368421,
 0.25,
 0.35294117647058826,
 0.0,
 1.0,
 0.3333333333333333,
 1.0,
 0.0,
 0.0,
 0.5,
 0.35294117647058826,
 0.02631578947368421,
 0.4444444444444444,
 0.2,
 0.0,
 0.0,
 0.11627906976744186,
 0.0,
 0.38095238095238093,
 0.35294117647058826,
 0.6,
 0.0,
 0.4838709677419355,
 0.02631578947368421,
 0.0,
 0.14285714285714285,
 1.0,
 0.11627906976744186,
 0.35294117647058826,
 1.0,
 1.0,
 0.1875,
 0.42857142857142855,
 0.11627906976744186,
 0.4838709677419355,
 0.3333333333333333,
 0.5,
 0.4444444444444444,
 0.23076923076923078,
 0.11627906976744186,
 1.0,
 0.4838709677419355,
 0.35294117647058826,
 0.1875,
 1.0,
 0.0,
 0.5,
 0.35294117647058826,
 0.0,
 0.38095238095238093,
 0.0,
 0.1875,
 0.75,
 0.0,
 0.0,
 0.14285714285714285,
 0.0,
 1.0,
 1.0,
 0.4838709677419355,
 1.0,
 0.35294117647058826,
 1.0,
 0.07692307692307693,
 0.35294117647058826,
 0.2222222222222222,
 0.3333333333333333,
 1.0,
 0.38095238095238093,
 0.11627906976744186,
 0.11627906976744186,
 0.0,
 0.0,
 0.0,
 0.02631578947368421,
 0.23076923076923078,
 0.25,
 0.38095238095238093,
 0.11627906976744186,
 0.0,
 0.0,
 0.5,
 1.0,
 0.4838709677419355,
 0.5333333333333333,
 0.0,
 0.5,
 0.11627906976744186,
 0.5333333333333333,
 0.4838709677419355,
 1.0,
 0.02631578947368421,
 0.75,
 0.0,
 0.75,
 0.25,
 0.0,
 0.23076923076923078,
 0.5333333333333333,
 1.0,
 0.5,
 0.6,
 0.25,
 0.5,
 0.38095238095238093,
 1.0,
 0.0,
 0.0,
 0.2,
 0.0,
 0.25,
 0.25,
 1.0,
 0.26666666666666666,
 0.75,
 0.75,
 0.5,
 1.0,
 0.75,
 1.0,
 0.38095238095238093,
 1.0,
 0.6,
 0.35294117647058826,
 0.5,
 1.0,
 0.3333333333333333,
 0.11627906976744186,
 0.0,
 0.38095238095238093,
 0.4838709677419355,
 0.4838709677419355,
 0.2857142857142857,
 0.6666666666666666,
 1.0,
 0.23076923076923078,
 1.0,
 0.1875,
 0.375,
 1.0,
 0.375,
 0.0,
 0.75,
 0.4838709677419355,
 0.375,
 0.0,
 0.35294117647058826,
 0.375,
 0.2,
 0.02631578947368421,
 0.0,
 0.0,
 0.0,
 0.4838709677419355,
 0.1875,
 0.0,
 1.0,
 1.0,
 0.0,
 0.11627906976744186,
 1.0,
 0.11627906976744186,
 0.375,
 0.3333333333333333,
 0.2,
 0.6,
 0.3333333333333333,
 0.35294117647058826,
 0.0,
 0.38095238095238093,
 1.0,
 0.5333333333333333,
 0.0,
 1.0,
 1.0,
 0.23076923076923078,
 1.0,
 0.25,
 0.38095238095238093,
 0.5,
 0.2,
 0.8333333333333334,
 1.0,
 0.0,
 0.0,
 0.5,
 0.3333333333333333,
 1.0,
 0.4838709677419355,
 0.14285714285714285,
 0.5,
 0.4444444444444444,
 0.6666666666666666,
 0.5,
 0.2222222222222222,
 0.25,
 0.35294117647058826,
 0.11627906976744186,
 0.38095238095238093,
 0.1875,
 1.0,
 0.23076923076923078,
 1.0,
 0.0,
 1.0,
 0.02631578947368421,
 0.06666666666666667,
 0.25,
 0.11627906976744186,
 0.07692307692307693,
 1.0,
 0.35294117647058826,
 0.6666666666666666,
 0.375,
 0.25,
 0.4838709677419355,
 0.375,
 0.4838709677419355,
 0.3333333333333333,
 0.375,
 0.07692307692307693,
 1.0,
 0.35294117647058826,
 0.6,
 0.0,
 0.07692307692307693,
 0.07692307692307693,
 0.5,
 0.26666666666666666,
 0.11627906976744186,
 0.5,
 0.0,
 0.26666666666666666,
 1.0,
 0.2222222222222222,
 0.02631578947368421,
 0.6666666666666666,
 0.0,
 0.0,
 0.23076923076923078,
 0.1875,
 0.0,
 0.3333333333333333,
 0.07692307692307693,
 0.35294117647058826,
 0.5333333333333333,
 0.5,
 0.5,
 1.0,
 0.0,
 0.07692307692307693,
 0.25,
 0.25,
 0.35294117647058826,
 0.6666666666666666,
 0.5,
 1.0,
 0.375,
 0.23076923076923078,
 0.75,
 0.1875,
 0.26666666666666666,
 0.38095238095238093,
 0.5333333333333333,
 1.0,
 0.0,
 0.75,
 0.5,
 0.4838709677419355,
 0.38095238095238093,
 0.5,
 0.3333333333333333,
 0.25,
 1.0,
 0.02631578947368421,
 0.4838709677419355,
 0.38095238095238093,
 0.26666666666666666,
 0.75,
 0.26666666666666666,
 0.375,
 0.25,
 0.0,
 1.0,
 0.2857142857142857,
 0.25,
 0.38095238095238093,
 0.26666666666666666,
 0.25,
 0.3333333333333333,
 1.0,
 0.375,
 0.0,
 1.0,
 0.5,
 0.4838709677419355,
 1.0,
 1.0,
 0.35294117647058826,
 0.0,
 0.0,
 0.5,
 0.3333333333333333,
 0.07692307692307693,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 1.0,
 0.06666666666666667,
 0.38095238095238093,
 1.0,
 1.0,
 0.07692307692307693,
 0.0,
 0.0,
 0.75,
 0.35294117647058826,
 1.0,
 0.2857142857142857,
 0.2222222222222222,
 0.0,
 1.0,
 0.1875,
 0.38095238095238093,
 0.35294117647058826,
 0.0,
 1.0,
 1.0,
 0.5,
 0.375,
 1.0,
 1.0,
 0.07692307692307693,
 0.5,
 0.1875,
 0.5,
 1.0,
 0.3333333333333333,
 1.0,
 0.0,
 0.2,
 1.0,
 0.375,
 0.0,
 0.0,
 1.0,
 0.35294117647058826,
 0.75,
 0.1875,
 0.11627906976744186,
 0.5,
 0.07692307692307693,
 0.11627906976744186,
 1.0]

In [48]:
test_age_calculated

[0.0,
 0.1111111111111111,
 0.5,
 0.6111111111111112,
 0.4074074074074074,
 0.5,
 0.4,
 0.3333333333333333,
 0.34615384615384615,
 0.20833333333333334,
 0.0,
 0.0,
 0.3333333333333333,
 1.0,
 0.1111111111111111,
 0.5,
 0.6111111111111112,
 0.20833333333333334,
 0.6111111111111112,
 0.4166666666666667,
 0.5,
 0.25,
 0.0,
 0.20833333333333334,
 0.6666666666666666,
 0.5,
 0.4074074074074074,
 0.4074074074074074,
 0.3333333333333333,
 0.0,
 0.5,
 0.5,
 0.4,
 0.0,
 0.4,
 0.34615384615384615,
 0.0,
 0.20833333333333334,
 0.2608695652173913,
 0.0,
 0.35714285714285715,
 0.0,
 0.3333333333333333,
 0.4,
 0.4166666666666667,
 0.2608695652173913,
 0.4166666666666667,
 0.0,
 0.5,
 0.5,
 0.5,
 0.6111111111111112,
 0.2,
 0.28,
 0.0,
 0.0,
 0.6111111111111112,
 0.2608695652173913,
 0.0,
 0.5,
 0.46153846153846156,
 0.5,
 0.34615384615384615,
 0.4074074074074074,
 1.0,
 0.0,
 0.34615384615384615,
 0.1111111111111111,
 0.47058823529411764,
 0.5,
 0.5,
 0.20833333333333334,
 0.4,
 0.0,
 0.6111111111111112,
 0.5,
 0.0,
 0.5,
 0.4,
 0.5,
 0.6666666666666666,
 0.0,
 0.6666666666666666,
 0.0,
 0.0,
 0.0,
 0.6111111111111112,
 0.34615384615384615,
 0.0,
 0.3,
 0.4074074074074074,
 0.0,
 0.6111111111111112,
 0.0,
 0.2608695652173913,
 0.2608695652173913,
 0.0,
 0.4,
 0.2,
 0.4,
 0.2,
 0.6111111111111112,
 0.0,
 0.3333333333333333,
 0.35294117647058826,
 0.28,
 0.20833333333333334,
 0.0,
 0.0,
 0.34615384615384615,
 0.3333333333333333,
 0.0,
 0.5,
 0.34615384615384615,
 1.0,
 0.34615384615384615,
 0.0,
 0.7142857142857143,
 0.5,
 0.4,
 1.0,
 0.0,
 0.6111111111111112,
 0.28,
 0.0,
 0.46153846153846156,
 0.4074074074074074,
 0.0,
 0.46153846153846156,
 0.5,
 0.5,
 1.0,
 0.0,
 0.0,
 0.2,
 0.5,
 0.3333333333333333,
 0.3333333333333333,
 0.3333333333333333,
 0.46153846153846156,
 0.0,
 0.4,
 0.0,
 0.28,
 0.46153846153846156,
 0.47058823529411764,
 0.0,
 0.4074074074074074,
 0.0,
 0.4,
 0.3333333333333333,
 0.0,
 0.5,
 0.5,
 1.0,
 0.5,
 0.4,
 0.3333333333333333,
 0.46153846153846156,
 0.3333333333333333,
 0.0,
 0.3333333333333333,
 0.3333333333333333,
 0.0,
 0.3333333333333333,
 0.3333333333333333,
 0.6666666666666666,
 0.34615384615384615,
 0.0,
 0.4074074074074074,
 0.0,
 0.6111111111111112,
 0.3333333333333333,
 0.0,
 0.46153846153846156,
 0.8,
 0.2,
 0.375,
 0.5,
 0.0,
 0.4,
 0.16666666666666666,
 0.34615384615384615,
 0.0,
 0.6111111111111112,
 0.46153846153846156,
 0.20833333333333334,
 0.46153846153846156,
 0.0,
 0.46153846153846156,
 0.4,
 0.0,
 0.25,
 0.0,
 0.5,
 0.4,
 0.6666666666666666,
 0.34615384615384615,
 0.3333333333333333,
 0.0,
 0.0,
 1.0,
 0.1111111111111111,
 0.5,
 0.2608695652173913,
 0.0,
 0.6111111111111112,
 0.5,
 0.4,
 0.2608695652173913,
 0.5,
 0.0,
 0.46153846153846156,
 0.5,
 0.45454545454545453,
 0.46153846153846156,
 0.0,
 0.0,
 0.5,
 0.0,
 0.4,
 0.20833333333333334,
 0.4074074074074074,
 0.20833333333333334,
 1.0,
 0.0,
 0.3333333333333333,
 0.0,
 0.0,
 0.5,
 0.5,
 0.20833333333333334,
 0.20833333333333334,
 0.0,
 0.35714285714285715,
 0.2,
 0.0,
 0.2,
 0.34615384615384615,
 0.6666666666666666,
 0.5,
 0.4166666666666667,
 0.4166666666666667,
 0.0,
 0.0,
 0.3333333333333333,
 0.4074074074074074,
 0.46153846153846156,
 0.4,
 0.0,
 1.0,
 0.2,
 0.6111111111111112,
 0.5,
 0.5,
 0.0,
 0.0,
 0.28,
 0.36,
 0.20833333333333334,
 0.0,
 0.20833333333333334,
 0.4,
 0.7142857142857143,
 0.4,
 0.0,
 0.0,
 0.0,
 0.0,
 0.46153846153846156,
 0.0,
 0.0,
 0.3333333333333333,
 0.0,
 0.0,
 0.2,
 0.28,
 0.46153846153846156,
 0.4,
 0.4074074074074074,
 0.3333333333333333,
 1.0,
 0.0,
 0.25,
 0.3,
 0.5,
 0.0,
 0.5,
 0.0,
 0.0,
 0.0,
 0.4,
 0.0,
 1.0,
 0.5,
 0.3333333333333333,
 0.7142857142857143,
 0.0,
 0.4,
 0.4,
 0.5,
 0.0,
 0.2,
 0.5,
 0.0,
 0.0,
 0.4,
 1.0,
 0.5,
 0.4166666666666667,
 0.34615384615384615,
 0.4074074074074074,
 0.0,
 0.16666666666666666,
 0.5,
 0.46153846153846156,
 0.0,
 0.36,
 0.6111111111111112,
 0.4074074074074074,
 0.3333333333333333,
 0.2608695652173913,
 0.3333333333333333,
 0.4,
 0.35714285714285715,
 0.3333333333333333,
 1.0,
 0.0,
 0.4,
 0.20833333333333334,
 0.6666666666666666,
 0.35714285714285715,
 0.0,
 0.36,
 0.6111111111111112,
 0.4,
 0.5,
 0.35714285714285715,
 0.2608695652173913,
 0.0,
 0.34615384615384615,
 0.5,
 0.0,
 0.6,
 0.0,
 0.35294117647058826,
 0.3333333333333333,
 0.45454545454545453,
 0.5,
 0.47058823529411764,
 0.4166666666666667,
 0.2608695652173913,
 0.34615384615384615,
 0.6666666666666666,
 1.0,
 0.5,
 0.0,
 0.0,
 0.0,
 0.4,
 0.0,
 0.5,
 0.47058823529411764,
 0.6111111111111112,
 0.2608695652173913,
 0.0,
 0.0,
 0.4074074074074074,
 0.4166666666666667,
 0.4,
 0.20833333333333334,
 0.47058823529411764,
 0.6666666666666666,
 0.3333333333333333,
 0.375,
 0.4166666666666667,
 0.4074074074074074,
 0.20833333333333334,
 0.5,
 1.0,
 0.0,
 0.3333333333333333,
 0.0,
 0.36,
 0.0,
 0.5,
 0.5,
 0.0,
 0.20833333333333334,
 0.6666666666666666,
 0.3333333333333333,
 0.2857142857142857,
 1.0,
 0.1111111111111111,
 0.4,
 0.34615384615384615,
 0.5,
 0.6666666666666666,
 0.4074074074074074,
 0.47058823529411764,
 0.4,
 0.45454545454545453,
 0.4074074074074074,
 0.46153846153846156,
 0.2,
 0.2,
 0.3333333333333333,
 0.5,
 0.0,
 0.8333333333333334,
 0.0,
 0.16666666666666666,
 0.28,
 0.0,
 0.35714285714285715,
 0.45454545454545453,
 0.0,
 0.0]

In [49]:
test_parch_calculated

[0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.4491525423728814,
 0.6563421828908554,
 0.6563421828908554,
 0.4491525423728814,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.4491525423728814,
 0.6563421828908554,
 0.4491525423728814,
 0.4,
 0.6563421828908554,
 0.4491525423728814,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.5,
 0.5,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.4491525423728814,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.5,
 0.6563421828908554,
 0.6563421828908554,
 0.4491525423728814,
 0.5,
 0.6563421828908554,
 0.4491525423728814,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.5,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 1.0,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.4491525423728814,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.4491525423728814,
 0.6563421828908554,
 0.6563421828908554,
 0.5,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.4491525423728814,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.4491525423728814,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.4491525423728814,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 1.0,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 1.0,
 0.5,
 0.6563421828908554,
 0.4,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.4491525423728814,
 0.4491525423728814,
 0.6563421828908554,
 0.6563421828908554,
 0.5,
 0.5,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.5,
 0.6563421828908554,
 0.4491525423728814,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.4491525423728814,
 0.6563421828908554,
 0.5,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.8,
 0.5,
 0.6563421828908554,
 0.6563421828908554,
 0.4,
 0.5,
 0.6563421828908554,
 0.4491525423728814,
 0.6563421828908554,
 0.6563421828908554,
 0.4491525423728814,
 0.6563421828908554,
 0.4491525423728814,
 0.6563421828908554,
 0.5,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.4491525423728814,
 0.6563421828908554,
 0.5,
 0.6563421828908554,
 0.5,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.5,
 0.6563421828908554,
 0.4491525423728814,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.5,
 0.6563421828908554,
 0.6563421828908554,
 0.4491525423728814,
 0.4491525423728814,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.5,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.4491525423728814,
 0.6563421828908554,
 0.6563421828908554,
 0.5,
 0.4491525423728814,
 0.6563421828908554,
 0.5,
 0.6563421828908554,
 0.6563421828908554,
 0.4491525423728814,
 0.6563421828908554,
 0.6563421828908554,
 0.5,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.5,
 0.4491525423728814,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.4491525423728814,
 0.6563421828908554,
 0.4491525423728814,
 0.4491525423728814,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.4491525423728814,
 0.6563421828908554,
 0.6563421828908554,
 0.5,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.4491525423728814,
 0.6563421828908554,
 0.6563421828908554,
 0.4491525423728814,
 0.5,
 0.4491525423728814,
 0.4491525423728814,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.4491525423728814,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.5,
 0.6563421828908554,
 0.6563421828908554,
 0.4491525423728814,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.5,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 1.0,
 0.4491525423728814,
 0.4491525423728814,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.4491525423728814,
 0.6563421828908554,
 0.6563421828908554,
 0.5,
 0.5,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.5,
 0.4491525423728814,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 1.0,
 0.6563421828908554,
 0.6563421828908554,
 0.4491525423728814,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.4491525423728814,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.5,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.5,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.4491525423728814,
 0.6563421828908554,
 0.4491525423728814,
 0.5,
 0.6563421828908554,
 0.4491525423728814,
 0.6563421828908554,
 0.6563421828908554,
 0.4491525423728814,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.4491525423728814,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.4491525423728814,
 0.6563421828908554,
 0.4491525423728814,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.6563421828908554,
 0.4491525423728814]

In [50]:
test_pclass_calculated

[0.24236252545824846,
 0.24236252545824846,
 0.47282608695652173,
 0.24236252545824846,
 0.24236252545824846,
 0.24236252545824846,
 0.24236252545824846,
 0.47282608695652173,
 0.24236252545824846,
 0.24236252545824846,
 0.24236252545824846,
 0.6296296296296297,
 0.6296296296296297,
 0.47282608695652173,
 0.6296296296296297,
 0.47282608695652173,
 0.47282608695652173,
 0.24236252545824846,
 0.24236252545824846,
 0.24236252545824846,
 0.6296296296296297,
 0.24236252545824846,
 0.6296296296296297,
 0.6296296296296297,
 0.6296296296296297,
 0.24236252545824846,
 0.6296296296296297,
 0.24236252545824846,
 0.6296296296296297,
 0.24236252545824846,
 0.47282608695652173,
 0.47282608695652173,
 0.24236252545824846,
 0.24236252545824846,
 0.6296296296296297,
 0.24236252545824846,
 0.24236252545824846,
 0.24236252545824846,
 0.24236252545824846,
 0.24236252545824846,
 0.24236252545824846,
 0.6296296296296297,
 0.24236252545824846,
 0.47282608695652173,
 0.6296296296296297,
 0.24236252545824846,
 0.6296296296296297,
 0.24236252545824846,
 0.6296296296296297,
 0.24236252545824846,
 0.6296296296296297,
 0.47282608695652173,
 0.47282608695652173,
 0.6296296296296297,
 0.47282608695652173,
 0.24236252545824846,
 0.24236252545824846,
 0.24236252545824846,
 0.24236252545824846,
 0.6296296296296297,
 0.24236252545824846,
 0.47282608695652173,
 0.24236252545824846,
 0.24236252545824846,
 0.6296296296296297,
 0.47282608695652173,
 0.24236252545824846,
 0.6296296296296297,
 0.6296296296296297,
 0.6296296296296297,
 0.24236252545824846,
 0.24236252545824846,
 0.24236252545824846,
 0.6296296296296297,
 0.6296296296296297,
 0.6296296296296297,
 0.24236252545824846,
 0.6296296296296297,
 0.47282608695652173,
 0.24236252545824846,
 0.24236252545824846,
 0.6296296296296297,
 0.6296296296296297,
 0.24236252545824846,
 0.47282608695652173,
 0.24236252545824846,
 0.24236252545824846,
 0.24236252545824846,
 0.24236252545824846,
 0.47282608695652173,
 0.24236252545824846,
 0.24236252545824846,
 0.6296296296296297,
 0.24236252545824846,
 0.6296296296296297,
 0.24236252545824846,
 0.6296296296296297,
 0.24236252545824846,
 0.24236252545824846,
 0.24236252545824846,
 0.6296296296296297,
 0.47282608695652173,
 0.24236252545824846,
 0.24236252545824846,
 0.24236252545824846,
 0.24236252545824846,
 0.24236252545824846,
 0.24236252545824846,
 0.24236252545824846,
 0.47282608695652173,
 0.47282608695652173,
 0.24236252545824846,
 0.6296296296296297,
 0.24236252545824846,
 0.6296296296296297,
 0.24236252545824846,
 0.24236252545824846,
 0.24236252545824846,
 0.6296296296296297,
 0.47282608695652173,
 0.47282608695652173,
 0.24236252545824846,
 0.6296296296296297,
 0.24236252545824846,
 0.24236252545824846,
 0.24236252545824846,
 0.24236252545824846,
 0.24236252545824846,
 0.47282608695652173,
 0.24236252545824846,
 0.24236252545824846,
 0.6296296296296297,
 0.24236252545824846,
 0.24236252545824846,
 0.24236252545824846,
 0.24236252545824846,
 0.24236252545824846,
 0.47282608695652173,
 0.24236252545824846,
 0.24236252545824846,
 0.24236252545824846,
 0.6296296296296297,
 0.6296296296296297,
 0.47282608695652173,
 0.6296296296296297,
 0.24236252545824846,
 0.6296296296296297,
 0.24236252545824846,
 0.6296296296296297,
 0.47282608695652173,
 0.6296296296296297,
 0.24236252545824846,
 0.24236252545824846,
 0.24236252545824846,
 0.24236252545824846,
 0.24236252545824846,
 0.6296296296296297,
 0.24236252545824846,
 0.6296296296296297,
 0.24236252545824846,
 0.24236252545824846,
 0.24236252545824846,
 0.47282608695652173,
 0.24236252545824846,
 0.47282608695652173,
 0.24236252545824846,
 0.6296296296296297,
 0.24236252545824846,
 0.6296296296296297,
 0.24236252545824846,
 0.24236252545824846,
 0.24236252545824846,
 0.24236252545824846,
 0.24236252545824846,
 0.24236252545824846,
 0.47282608695652173,
 0.47282608695652173,
 0.6296296296296297,
 0.47282608695652173,
 0.6296296296296297,
 0.47282608695652173,
 0.6296296296296297,
 0.6296296296296297,
 0.24236252545824846,
 0.6296296296296297,
 0.47282608695652173,
 0.47282608695652173,
 0.24236252545824846,
 0.24236252545824846,
 0.47282608695652173,
 0.47282608695652173,
 0.6296296296296297,
 0.24236252545824846,
 0.47282608695652173,
 0.47282608695652173,
 0.24236252545824846,
 0.6296296296296297,
 0.24236252545824846,
 0.47282608695652173,
 0.24236252545824846,
 0.24236252545824846,
 0.24236252545824846,
 0.6296296296296297,
 0.47282608695652173,
 0.47282608695652173,
 0.6296296296296297,
 0.24236252545824846,
 0.47282608695652173,
 0.6296296296296297,
 0.24236252545824846,
 0.24236252545824846,
 0.24236252545824846,
 0.47282608695652173,
 0.47282608695652173,
 0.24236252545824846,
 0.6296296296296297,
 0.24236252545824846,
 0.6296296296296297,
 0.6296296296296297,
 0.24236252545824846,
 0.47282608695652173,
 0.24236252545824846,
 0.47282608695652173,
 0.24236252545824846,
 0.6296296296296297,
 0.24236252545824846,
 0.24236252545824846,
 0.24236252545824846,
 0.24236252545824846,
 0.47282608695652173,
 0.47282608695652173,
 0.6296296296296297,
 0.24236252545824846,
 0.24236252545824846,
 0.6296296296296297,
 0.24236252545824846,
 0.6296296296296297,
 0.24236252545824846,
 0.47282608695652173,
 0.6296296296296297,
 0.6296296296296297,
 0.47282608695652173,
 0.6296296296296297,
 0.24236252545824846,
 0.24236252545824846,
 0.6296296296296297,
 0.47282608695652173,
 0.47282608695652173,
 0.47282608695652173,
 0.24236252545824846,
 0.47282608695652173,
 0.24236252545824846,
 0.6296296296296297,
 0.24236252545824846,
 0.24236252545824846,
 0.24236252545824846,
 0.24236252545824846,
 0.24236252545824846,
 0.47282608695652173,
 0.24236252545824846,
 0.24236252545824846,
 0.24236252545824846,
 0.47282608695652173,
 0.24236252545824846,
 0.47282608695652173,
 0.24236252545824846,
 0.6296296296296297,
 0.24236252545824846,
 0.24236252545824846,
 0.24236252545824846,
 0.6296296296296297,
 0.24236252545824846,
 0.6296296296296297,
 0.24236252545824846,
 0.24236252545824846,
 0.47282608695652173,
 0.47282608695652173,
 0.47282608695652173,
 0.47282608695652173,
 0.47282608695652173,
 0.24236252545824846,
 0.24236252545824846,
 0.24236252545824846,
 0.24236252545824846,
 0.24236252545824846,
 0.24236252545824846,
 0.24236252545824846,
 0.6296296296296297,
 0.24236252545824846,
 0.24236252545824846,
 0.6296296296296297,
 0.24236252545824846,
 0.24236252545824846,
 0.6296296296296297,
 0.24236252545824846,
 0.24236252545824846,
 0.47282608695652173,
 0.24236252545824846,
 0.6296296296296297,
 0.24236252545824846,
 0.24236252545824846,
 0.47282608695652173,
 0.47282608695652173,
 0.24236252545824846,
 0.24236252545824846,
 0.6296296296296297,
 0.6296296296296297,
 0.24236252545824846,
 0.6296296296296297,
 0.24236252545824846,
 0.24236252545824846,
 0.24236252545824846,
 0.24236252545824846,
 0.24236252545824846,
 0.6296296296296297,
 0.24236252545824846,
 0.6296296296296297,
 0.47282608695652173,
 0.24236252545824846,
 0.47282608695652173,
 0.24236252545824846,
 0.24236252545824846,
 0.47282608695652173,
 0.6296296296296297,
 0.6296296296296297,
 0.24236252545824846,
 0.47282608695652173,
 0.6296296296296297,
 0.47282608695652173,
 0.47282608695652173,
 0.47282608695652173,
 0.6296296296296297,
 0.24236252545824846,
 0.24236252545824846,
 0.24236252545824846,
 0.6296296296296297,
 0.47282608695652173,
 0.24236252545824846,
 0.47282608695652173,
 0.24236252545824846,
 0.47282608695652173,
 0.24236252545824846,
 0.24236252545824846,
 0.6296296296296297,
 0.24236252545824846,
 0.24236252545824846,
 0.47282608695652173,
 0.24236252545824846,
 0.47282608695652173,
 0.47282608695652173,
 0.6296296296296297,
 0.47282608695652173,
 0.47282608695652173,
 0.47282608695652173,
 0.24236252545824846,
 0.6296296296296297,
 0.6296296296296297,
 0.24236252545824846,
 0.24236252545824846,
 0.24236252545824846,
 0.24236252545824846,
 0.47282608695652173,
 0.47282608695652173,
 0.24236252545824846,
 0.6296296296296297,
 0.24236252545824846,
 0.24236252545824846,
 0.24236252545824846,
 0.6296296296296297,
 0.47282608695652173,
 0.47282608695652173,
 0.6296296296296297,
 0.6296296296296297,
 0.47282608695652173,
 0.6296296296296297,
 0.6296296296296297,
 0.24236252545824846,
 0.47282608695652173,
 0.6296296296296297,
 0.24236252545824846,
 0.24236252545824846,
 0.24236252545824846,
 0.24236252545824846,
 0.24236252545824846,
 0.47282608695652173,
 0.47282608695652173,
 0.24236252545824846,
 0.47282608695652173,
 0.24236252545824846,
 0.24236252545824846,
 0.6296296296296297,
 0.6296296296296297,
 0.24236252545824846,
 0.47282608695652173,
 0.24236252545824846,
 0.6296296296296297,
 0.24236252545824846,
 0.6296296296296297,
 0.24236252545824846,
 0.24236252545824846,
 0.6296296296296297,
 0.47282608695652173,
 0.6296296296296297,
 0.6296296296296297,
 0.6296296296296297,
 0.47282608695652173,
 0.47282608695652173,
 0.6296296296296297,
 0.24236252545824846,
 0.24236252545824846,
 0.24236252545824846,
 0.6296296296296297,
 0.24236252545824846,
 0.24236252545824846,
 0.6296296296296297,
 0.24236252545824846,
 0.24236252545824846,
 0.24236252545824846]

In [51]:
test_age_calculated

[0.0,
 0.1111111111111111,
 0.5,
 0.6111111111111112,
 0.4074074074074074,
 0.5,
 0.4,
 0.3333333333333333,
 0.34615384615384615,
 0.20833333333333334,
 0.0,
 0.0,
 0.3333333333333333,
 1.0,
 0.1111111111111111,
 0.5,
 0.6111111111111112,
 0.20833333333333334,
 0.6111111111111112,
 0.4166666666666667,
 0.5,
 0.25,
 0.0,
 0.20833333333333334,
 0.6666666666666666,
 0.5,
 0.4074074074074074,
 0.4074074074074074,
 0.3333333333333333,
 0.0,
 0.5,
 0.5,
 0.4,
 0.0,
 0.4,
 0.34615384615384615,
 0.0,
 0.20833333333333334,
 0.2608695652173913,
 0.0,
 0.35714285714285715,
 0.0,
 0.3333333333333333,
 0.4,
 0.4166666666666667,
 0.2608695652173913,
 0.4166666666666667,
 0.0,
 0.5,
 0.5,
 0.5,
 0.6111111111111112,
 0.2,
 0.28,
 0.0,
 0.0,
 0.6111111111111112,
 0.2608695652173913,
 0.0,
 0.5,
 0.46153846153846156,
 0.5,
 0.34615384615384615,
 0.4074074074074074,
 1.0,
 0.0,
 0.34615384615384615,
 0.1111111111111111,
 0.47058823529411764,
 0.5,
 0.5,
 0.20833333333333334,
 0.4,
 0.0,
 0.6111111111111112,
 0.5,
 0.0,
 0.5,
 0.4,
 0.5,
 0.6666666666666666,
 0.0,
 0.6666666666666666,
 0.0,
 0.0,
 0.0,
 0.6111111111111112,
 0.34615384615384615,
 0.0,
 0.3,
 0.4074074074074074,
 0.0,
 0.6111111111111112,
 0.0,
 0.2608695652173913,
 0.2608695652173913,
 0.0,
 0.4,
 0.2,
 0.4,
 0.2,
 0.6111111111111112,
 0.0,
 0.3333333333333333,
 0.35294117647058826,
 0.28,
 0.20833333333333334,
 0.0,
 0.0,
 0.34615384615384615,
 0.3333333333333333,
 0.0,
 0.5,
 0.34615384615384615,
 1.0,
 0.34615384615384615,
 0.0,
 0.7142857142857143,
 0.5,
 0.4,
 1.0,
 0.0,
 0.6111111111111112,
 0.28,
 0.0,
 0.46153846153846156,
 0.4074074074074074,
 0.0,
 0.46153846153846156,
 0.5,
 0.5,
 1.0,
 0.0,
 0.0,
 0.2,
 0.5,
 0.3333333333333333,
 0.3333333333333333,
 0.3333333333333333,
 0.46153846153846156,
 0.0,
 0.4,
 0.0,
 0.28,
 0.46153846153846156,
 0.47058823529411764,
 0.0,
 0.4074074074074074,
 0.0,
 0.4,
 0.3333333333333333,
 0.0,
 0.5,
 0.5,
 1.0,
 0.5,
 0.4,
 0.3333333333333333,
 0.46153846153846156,
 0.3333333333333333,
 0.0,
 0.3333333333333333,
 0.3333333333333333,
 0.0,
 0.3333333333333333,
 0.3333333333333333,
 0.6666666666666666,
 0.34615384615384615,
 0.0,
 0.4074074074074074,
 0.0,
 0.6111111111111112,
 0.3333333333333333,
 0.0,
 0.46153846153846156,
 0.8,
 0.2,
 0.375,
 0.5,
 0.0,
 0.4,
 0.16666666666666666,
 0.34615384615384615,
 0.0,
 0.6111111111111112,
 0.46153846153846156,
 0.20833333333333334,
 0.46153846153846156,
 0.0,
 0.46153846153846156,
 0.4,
 0.0,
 0.25,
 0.0,
 0.5,
 0.4,
 0.6666666666666666,
 0.34615384615384615,
 0.3333333333333333,
 0.0,
 0.0,
 1.0,
 0.1111111111111111,
 0.5,
 0.2608695652173913,
 0.0,
 0.6111111111111112,
 0.5,
 0.4,
 0.2608695652173913,
 0.5,
 0.0,
 0.46153846153846156,
 0.5,
 0.45454545454545453,
 0.46153846153846156,
 0.0,
 0.0,
 0.5,
 0.0,
 0.4,
 0.20833333333333334,
 0.4074074074074074,
 0.20833333333333334,
 1.0,
 0.0,
 0.3333333333333333,
 0.0,
 0.0,
 0.5,
 0.5,
 0.20833333333333334,
 0.20833333333333334,
 0.0,
 0.35714285714285715,
 0.2,
 0.0,
 0.2,
 0.34615384615384615,
 0.6666666666666666,
 0.5,
 0.4166666666666667,
 0.4166666666666667,
 0.0,
 0.0,
 0.3333333333333333,
 0.4074074074074074,
 0.46153846153846156,
 0.4,
 0.0,
 1.0,
 0.2,
 0.6111111111111112,
 0.5,
 0.5,
 0.0,
 0.0,
 0.28,
 0.36,
 0.20833333333333334,
 0.0,
 0.20833333333333334,
 0.4,
 0.7142857142857143,
 0.4,
 0.0,
 0.0,
 0.0,
 0.0,
 0.46153846153846156,
 0.0,
 0.0,
 0.3333333333333333,
 0.0,
 0.0,
 0.2,
 0.28,
 0.46153846153846156,
 0.4,
 0.4074074074074074,
 0.3333333333333333,
 1.0,
 0.0,
 0.25,
 0.3,
 0.5,
 0.0,
 0.5,
 0.0,
 0.0,
 0.0,
 0.4,
 0.0,
 1.0,
 0.5,
 0.3333333333333333,
 0.7142857142857143,
 0.0,
 0.4,
 0.4,
 0.5,
 0.0,
 0.2,
 0.5,
 0.0,
 0.0,
 0.4,
 1.0,
 0.5,
 0.4166666666666667,
 0.34615384615384615,
 0.4074074074074074,
 0.0,
 0.16666666666666666,
 0.5,
 0.46153846153846156,
 0.0,
 0.36,
 0.6111111111111112,
 0.4074074074074074,
 0.3333333333333333,
 0.2608695652173913,
 0.3333333333333333,
 0.4,
 0.35714285714285715,
 0.3333333333333333,
 1.0,
 0.0,
 0.4,
 0.20833333333333334,
 0.6666666666666666,
 0.35714285714285715,
 0.0,
 0.36,
 0.6111111111111112,
 0.4,
 0.5,
 0.35714285714285715,
 0.2608695652173913,
 0.0,
 0.34615384615384615,
 0.5,
 0.0,
 0.6,
 0.0,
 0.35294117647058826,
 0.3333333333333333,
 0.45454545454545453,
 0.5,
 0.47058823529411764,
 0.4166666666666667,
 0.2608695652173913,
 0.34615384615384615,
 0.6666666666666666,
 1.0,
 0.5,
 0.0,
 0.0,
 0.0,
 0.4,
 0.0,
 0.5,
 0.47058823529411764,
 0.6111111111111112,
 0.2608695652173913,
 0.0,
 0.0,
 0.4074074074074074,
 0.4166666666666667,
 0.4,
 0.20833333333333334,
 0.47058823529411764,
 0.6666666666666666,
 0.3333333333333333,
 0.375,
 0.4166666666666667,
 0.4074074074074074,
 0.20833333333333334,
 0.5,
 1.0,
 0.0,
 0.3333333333333333,
 0.0,
 0.36,
 0.0,
 0.5,
 0.5,
 0.0,
 0.20833333333333334,
 0.6666666666666666,
 0.3333333333333333,
 0.2857142857142857,
 1.0,
 0.1111111111111111,
 0.4,
 0.34615384615384615,
 0.5,
 0.6666666666666666,
 0.4074074074074074,
 0.47058823529411764,
 0.4,
 0.45454545454545453,
 0.4074074074074074,
 0.46153846153846156,
 0.2,
 0.2,
 0.3333333333333333,
 0.5,
 0.0,
 0.8333333333333334,
 0.0,
 0.16666666666666666,
 0.28,
 0.0,
 0.35714285714285715,
 0.45454545454545453,
 0.0,
 0.0]

In [52]:
test_sibsp_calculated

[0.34539473684210525,
 0.5358851674641149,
 0.34539473684210525,
 0.34539473684210525,
 0.5358851674641149,
 0.34539473684210525,
 0.34539473684210525,
 0.5358851674641149,
 0.34539473684210525,
 0.4642857142857143,
 0.34539473684210525,
 0.34539473684210525,
 0.5358851674641149,
 0.5358851674641149,
 0.5358851674641149,
 0.5358851674641149,
 0.34539473684210525,
 0.34539473684210525,
 0.5358851674641149,
 0.34539473684210525,
 0.5358851674641149,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.5358851674641149,
 0.5358851674641149,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.4642857142857143,
 0.5358851674641149,
 0.4642857142857143,
 0.5358851674641149,
 0.5358851674641149,
 0.5358851674641149,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.5358851674641149,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.5358851674641149,
 0.34539473684210525,
 0.4642857142857143,
 0.25,
 0.34539473684210525,
 0.16666666666666666,
 0.34539473684210525,
 0.34539473684210525,
 0.5358851674641149,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.4642857142857143,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.5358851674641149,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.4642857142857143,
 0.34539473684210525,
 0.34539473684210525,
 0.5358851674641149,
 0.5358851674641149,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.5358851674641149,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.5358851674641149,
 0.5358851674641149,
 0.34539473684210525,
 0.5358851674641149,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.5358851674641149,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.5358851674641149,
 0.5358851674641149,
 0.34539473684210525,
 0.34539473684210525,
 0.5358851674641149,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.5358851674641149,
 0.5358851674641149,
 0.34539473684210525,
 0.5358851674641149,
 0.34539473684210525,
 0.5358851674641149,
 0.34539473684210525,
 0.5358851674641149,
 0.5358851674641149,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.4642857142857143,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.5358851674641149,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.5358851674641149,
 0.0,
 0.34539473684210525,
 0.5358851674641149,
 0.34539473684210525,
 0.34539473684210525,
 0.25,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.5358851674641149,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.16666666666666666,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.5358851674641149,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.5358851674641149,
 0.34539473684210525,
 0.4642857142857143,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.5358851674641149,
 0.34539473684210525,
 0.5358851674641149,
 0.34539473684210525,
 0.34539473684210525,
 0.5358851674641149,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.5358851674641149,
 0.5358851674641149,
 0.34539473684210525,
 0.5358851674641149,
 0.34539473684210525,
 0.34539473684210525,
 0.4642857142857143,
 0.0,
 0.34539473684210525,
 0.5358851674641149,
 0.34539473684210525,
 0.5358851674641149,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.5358851674641149,
 0.5358851674641149,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.5358851674641149,
 0.16666666666666666,
 0.34539473684210525,
 0.34539473684210525,
 0.5358851674641149,
 0.5358851674641149,
 0.34539473684210525,
 0.5358851674641149,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.5358851674641149,
 0.34539473684210525,
 0.5358851674641149,
 0.34539473684210525,
 0.5358851674641149,
 0.34539473684210525,
 0.5358851674641149,
 0.5358851674641149,
 0.34539473684210525,
 0.34539473684210525,
 0.5358851674641149,
 0.34539473684210525,
 0.5358851674641149,
 0.5358851674641149,
 0.34539473684210525,
 0.5358851674641149,
 0.5358851674641149,
 0.5358851674641149,
 0.5358851674641149,
 0.34539473684210525,
 0.5358851674641149,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.5358851674641149,
 0.34539473684210525,
 0.34539473684210525,
 0.5358851674641149,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.5358851674641149,
 0.5358851674641149,
 0.34539473684210525,
 0.5358851674641149,
 0.34539473684210525,
 0.5358851674641149,
 0.5358851674641149,
 0.34539473684210525,
 0.34539473684210525,
 0.5358851674641149,
 0.34539473684210525,
 0.5358851674641149,
 0.5358851674641149,
 0.34539473684210525,
 0.34539473684210525,
 0.5358851674641149,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.5358851674641149,
 0.34539473684210525,
 0.34539473684210525,
 0.5358851674641149,
 0.4642857142857143,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.5358851674641149,
 0.5358851674641149,
 0.34539473684210525,
 0.5358851674641149,
 0.5358851674641149,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.5358851674641149,
 0.34539473684210525,
 0.34539473684210525,
 0.4642857142857143,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.4642857142857143,
 0.34539473684210525,
 0.5358851674641149,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.5358851674641149,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.5358851674641149,
 0.34539473684210525,
 0.5358851674641149,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.5358851674641149,
 0.5358851674641149,
 0.34539473684210525,
 0.4642857142857143,
 0.34539473684210525,
 0.34539473684210525,
 0.5358851674641149,
 0.0,
 0.5358851674641149,
 0.34539473684210525,
 0.34539473684210525,
 0.5358851674641149,
 0.5358851674641149,
 0.5358851674641149,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.5358851674641149,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.5358851674641149,
 0.34539473684210525,
 0.4642857142857143,
 0.34539473684210525,
 0.34539473684210525,
 0.16666666666666666,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.5358851674641149,
 0.34539473684210525,
 0.5358851674641149,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.25,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.25,
 0.5358851674641149,
 0.34539473684210525,
 0.5358851674641149,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.5358851674641149,
 0.34539473684210525,
 0.34539473684210525,
 0.5358851674641149,
 0.34539473684210525,
 0.5358851674641149,
 0.5358851674641149,
 0.34539473684210525,
 0.5358851674641149,
 0.34539473684210525,
 0.5358851674641149,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.34539473684210525,
 0.5358851674641149]

In [53]:
survival_sum1 = np.add(
    test_pclass_calculated, 
    test_sex_calculated
)
#一気に全てのリストを足す方法がわからないから一つづつ

In [54]:
survival_sum2 = np.add(
    survival_sum1, 
    test_age_calculated)

In [55]:
survival_sum3 = np.add(
    survival_sum2, 
    test_sibsp_calculated)

In [56]:
survival_sum4 = np.add(
    survival_sum3, 
    test_parch_calculated)

In [57]:
survival_total = np.add(
    survival_sum4, 
    test_fare_calculated
)

In [58]:
survival_total

array([1.93300759, 2.7877392 , 2.66347115, 2.12104178, 3.37684586,
       1.93300759, 2.38613766, 2.98010528, 2.59895817, 1.8852319 ,
       1.45932338, 2.30414566, 3.39722853, 3.33783255, 2.67500631,
       3.10709165, 2.94124893, 1.89134092, 3.23218365, 2.65280433,
       3.51076513, 1.47581795, 3.12340477, 1.82141839, 3.97421968,
       2.40921231, 2.57362253, 2.090415  , 2.95360803, 1.55189857,
       2.83783255, 3.03236213, 2.92028591, 2.02028591, 3.41076513,
       2.0458281 , 2.10241673, 2.27139407, 1.91609938, 2.14729331,
       2.58296081, 2.35360803, 1.99711015, 2.9975536 , 3.98056186,
       2.1383216 , 2.57027469, 1.78594877, 3.87340477, 3.32979548,
       3.51076513, 2.27458226, 3.32830256, 2.90166785, 1.66347115,
       1.04708988, 2.07043449, 1.94387716, 1.84572024, 3.87340477,
       1.92086184, 2.41347115, 2.13210261, 2.39354507, 3.78282349,
       2.54993456, 3.33229151, 1.93138581, 2.29086293, 3.90755301,
       2.83907884, 1.66765671, 2.83058211, 2.02027469, 2.98451588,
       2.32027469, 1.54928666, 2.99229574, 2.44442353, 2.83907884,
       2.68297505, 2.01076513, 2.97081233, 1.45932338, 1.66347115,
       1.76635516, 3.59724877, 2.44857058, 2.33907884, 2.94677194,
       3.5840355 , 1.62050759, 3.44723555, 1.54928666, 2.56501523,
       2.02721049, 3.0638952 , 2.27745204, 2.41690689, 1.94928666,
       3.7638952 , 2.94894366, 1.78594877, 1.95384092, 3.32237963,
       1.71300759, 2.14134092, 1.78594877, 1.43300759, 2.39057738,
       1.99680449, 2.17363766, 3.62340477, 2.33229151, 3.5638952 ,
       2.11250901, 1.43300759, 3.68372417, 3.32027469, 3.29096262,
       4.21660122, 1.9764392 , 4.17500631, 1.78993067, 1.78594877,
       2.4627087 , 2.17374833, 3.10502864, 2.50596199, 2.04928666,
       2.04928666, 2.82027469, 2.32979548, 1.62349802, 1.65932338,
       2.16377682, 2.01634092, 2.37775687, 2.43575006, 2.4286943 ,
       1.48440074, 3.27340477, 2.75442294, 2.42734212, 2.81514649,
       1.80820109, 2.32027469, 1.95669407, 2.35360803, 2.53064291,
       3.49954846, 1.45932338, 2.68300759, 2.32979548, 2.84793734,
       2.18300759, 2.77340477, 2.55024023, 2.81514649, 3.16312881,
       2.48613766, 2.34964171, 2.79993456, 1.93300759, 2.37775687,
       3.30277179, 2.48694136, 1.74171023, 2.57340477, 2.39354507,
       1.68300759, 2.2941187 , 2.95683135, 1.69967426, 2.9786943 ,
       3.61025904, 2.91660122, 3.38576513, 3.21025904, 3.21706258,
       2.44442353, 2.97024215, 3.51004904, 1.78594877, 3.46781667,
       3.12500961, 2.55107825, 2.1297161 , 1.48440074, 2.50596199,
       2.73783255, 2.30414566, 1.95202267, 2.33013782, 3.00712897,
       2.06377682, 3.33059918, 2.51979151, 2.37180449, 2.98613766,
       2.36113766, 2.27666541, 2.87187624, 3.18377298, 2.29934072,
       1.82027469, 2.95018995, 2.53847115, 2.97340477, 1.72019295,
       1.93300759, 1.43300759, 2.12500961, 3.39096262, 2.29311286,
       2.28181316, 2.98613766, 2.80357549, 2.85670556, 1.54928666,
       3.80709165, 1.75761999, 2.99900863, 1.97467426, 3.57340477,
       2.42979548, 2.09967426, 2.33907884, 1.43300759, 2.54442353,
       3.16347115, 3.11507143, 1.83183135, 2.43300759, 3.36790798,
       1.86377682, 3.01076513, 1.88300759, 2.92700824, 3.73056186,
       3.07340477, 3.31025904, 3.22024215, 1.43300759, 1.46715584,
       2.84409846, 2.95734196, 3.1083104 , 3.29096262, 2.31948524,
       3.75074947, 2.07745204, 3.2885429 , 2.43300759, 2.15522981,
       1.68300759, 1.78594877, 1.82928666, 2.9575536 , 1.82884092,
       2.62349802, 1.87211015, 3.46025904, 2.68372417, 3.06347115,
       1.45932338, 1.88694136, 1.68300759, 2.10241673, 1.97146913,
       2.82027469, 1.78594877, 3.5638952 , 2.55162809, 1.68300759,
       3.09096262, 2.31847115, 2.79937101, 2.58729492, 2.44587856,
       2.39639407, 3.41630838, 2.33907884, 2.81943845, 2.26943845,
       2.00993067, 1.50993067, 3.01076513, 1.69967426, 1.54928666,
       2.32027469, 2.38613766, 1.69967426, 3.80357549, 2.15522981,
       1.79265671, 3.63170185, 1.55189857, 2.22027469, 2.06377682,
       2.12050759, 1.66347115, 1.98961485, 2.00993067, 2.33907884,
       2.89003889, 2.75442294, 2.72581795, 3.30357549, 2.59329476,
       1.85608451, 2.090415  , 1.68300759, 2.5057455 , 3.54007143,
       2.94767612, 3.01076513, 2.39847115, 2.27488793, 2.93976954,
       1.95384092, 1.96054382, 2.37775687, 2.75360803, 3.73054762,
       1.76634092, 3.87830256, 2.32027469, 2.73783255, 2.25275687,
       3.22692571, 2.51075089, 1.68300759, 3.32943845, 2.07043449,
       2.70414566, 2.54442353, 1.90047493, 2.67434072, 1.69967426,
       2.384625  , 2.18300759, 1.96715584, 3.76621513, 1.70202267,
       2.58907884, 2.37775687, 2.70734978, 2.41347115, 3.02052279,
       3.58288179, 2.29934072, 2.009625  , 3.36428607, 3.52028591,
       2.80414566, 3.49229574, 2.43300759, 1.78594877, 2.57662809,
       0.93127067, 3.19990201, 3.02052279, 2.12104178, 3.82476476,
       2.52028591, 1.62349802, 2.39354507, 3.58288179, 3.06347115,
       2.06229492, 3.843993  , 2.55360803, 2.37775687, 3.73170556,
       3.79007143, 2.58935912, 1.87180449, 2.32027469, 2.84793734,
       1.78594877, 2.76634092, 2.27185195, 2.75885031, 1.66347115,
       3.75074947, 2.12050759, 2.04442353, 1.9942821 , 1.79708988,
       3.15360803, 3.45192941, 2.77666541, 2.14958226, 2.53042321,
       3.91004904, 2.00993067, 3.52337222, 2.027915  , 2.40359583,
       3.77340477, 2.64184037, 3.57362253, 2.28181316, 2.41076513,
       2.86347115, 2.56229492, 2.30357549, 1.98613766, 3.80277179,
       2.33907884, 3.48056186, 2.45363766, 1.54928666, 3.23054762,
       1.96447612, 1.54928666, 2.41630838])

In [59]:
survival_final_preprocessed = survival_total/5

In [60]:
len(survival_final_preprocessed)

418

In [61]:
survival_final_preprocessed

array([0.38660152, 0.55754784, 0.53269423, 0.42420836, 0.67536917,
       0.38660152, 0.47722753, 0.59602106, 0.51979163, 0.37704638,
       0.29186468, 0.46082913, 0.67944571, 0.66756651, 0.53500126,
       0.62141833, 0.58824979, 0.37826818, 0.64643673, 0.53056087,
       0.70215303, 0.29516359, 0.62468095, 0.36428368, 0.79484394,
       0.48184246, 0.51472451, 0.418083  , 0.59072161, 0.31037971,
       0.56756651, 0.60647243, 0.58405718, 0.40405718, 0.68215303,
       0.40916562, 0.42048335, 0.45427881, 0.38321988, 0.42945866,
       0.51659216, 0.47072161, 0.39942203, 0.59951072, 0.79611237,
       0.42766432, 0.51405494, 0.35718975, 0.77468095, 0.6659591 ,
       0.70215303, 0.45491645, 0.66566051, 0.58033357, 0.33269423,
       0.20941798, 0.4140869 , 0.38877543, 0.36914405, 0.77468095,
       0.38417237, 0.48269423, 0.42642052, 0.47870901, 0.7565647 ,
       0.50998691, 0.6664583 , 0.38627716, 0.45817259, 0.7815106 ,
       0.56781577, 0.33353134, 0.56611642, 0.40405494, 0.59690318,
       0.46405494, 0.30985733, 0.59845915, 0.48888471, 0.56781577,
       0.53659501, 0.40215303, 0.59416247, 0.29186468, 0.33269423,
       0.35327103, 0.71944975, 0.48971412, 0.46781577, 0.58935439,
       0.7168071 , 0.32410152, 0.68944711, 0.30985733, 0.51300305,
       0.4054421 , 0.61277904, 0.45549041, 0.48338138, 0.38985733,
       0.75277904, 0.58978873, 0.35718975, 0.39076818, 0.66447593,
       0.34260152, 0.42826818, 0.35718975, 0.28660152, 0.47811548,
       0.3993609 , 0.43472753, 0.72468095, 0.4664583 , 0.71277904,
       0.4225018 , 0.28660152, 0.73674483, 0.66405494, 0.65819252,
       0.84332024, 0.39528784, 0.83500126, 0.35798613, 0.35718975,
       0.49254174, 0.43474967, 0.62100573, 0.5011924 , 0.40985733,
       0.40985733, 0.56405494, 0.4659591 , 0.3246996 , 0.33186468,
       0.43275536, 0.40326818, 0.47555137, 0.48715001, 0.48573886,
       0.29688015, 0.65468095, 0.55088459, 0.48546842, 0.5630293 ,
       0.36164022, 0.46405494, 0.39133881, 0.47072161, 0.50612858,
       0.69990969, 0.29186468, 0.53660152, 0.4659591 , 0.56958747,
       0.43660152, 0.55468095, 0.51004805, 0.5630293 , 0.63262576,
       0.49722753, 0.46992834, 0.55998691, 0.38660152, 0.47555137,
       0.66055436, 0.49738827, 0.34834205, 0.51468095, 0.47870901,
       0.33660152, 0.45882374, 0.59136627, 0.33993485, 0.59573886,
       0.72205181, 0.58332024, 0.67715303, 0.64205181, 0.64341252,
       0.48888471, 0.59404843, 0.70200981, 0.35718975, 0.69356333,
       0.62500192, 0.51021565, 0.42594322, 0.29688015, 0.5011924 ,
       0.54756651, 0.46082913, 0.39040453, 0.46602756, 0.60142579,
       0.41275536, 0.66611984, 0.5039583 , 0.4743609 , 0.59722753,
       0.47222753, 0.45533308, 0.57437525, 0.6367546 , 0.45986814,
       0.36405494, 0.59003799, 0.50769423, 0.59468095, 0.34403859,
       0.38660152, 0.28660152, 0.42500192, 0.67819252, 0.45862257,
       0.45636263, 0.59722753, 0.5607151 , 0.57134111, 0.30985733,
       0.76141833, 0.351524  , 0.59980173, 0.39493485, 0.71468095,
       0.4859591 , 0.41993485, 0.46781577, 0.28660152, 0.50888471,
       0.63269423, 0.62301429, 0.36636627, 0.48660152, 0.6735816 ,
       0.37275536, 0.60215303, 0.37660152, 0.58540165, 0.74611237,
       0.61468095, 0.66205181, 0.64404843, 0.28660152, 0.29343117,
       0.56881969, 0.59146839, 0.62166208, 0.65819252, 0.46389705,
       0.75014989, 0.41549041, 0.65770858, 0.48660152, 0.43104596,
       0.33660152, 0.35718975, 0.36585733, 0.59151072, 0.36576818,
       0.5246996 , 0.37442203, 0.69205181, 0.53674483, 0.61269423,
       0.29186468, 0.37738827, 0.33660152, 0.42048335, 0.39429383,
       0.56405494, 0.35718975, 0.71277904, 0.51032562, 0.33660152,
       0.61819252, 0.46369423, 0.5598742 , 0.51745898, 0.48917571,
       0.47927881, 0.68326168, 0.46781577, 0.56388769, 0.45388769,
       0.40198613, 0.30198613, 0.60215303, 0.33993485, 0.30985733,
       0.46405494, 0.47722753, 0.33993485, 0.7607151 , 0.43104596,
       0.35853134, 0.72634037, 0.31037971, 0.44405494, 0.41275536,
       0.42410152, 0.33269423, 0.39792297, 0.40198613, 0.46781577,
       0.57800778, 0.55088459, 0.54516359, 0.6607151 , 0.51865895,
       0.3712169 , 0.418083  , 0.33660152, 0.5011491 , 0.70801429,
       0.58953522, 0.60215303, 0.47969423, 0.45497759, 0.58795391,
       0.39076818, 0.39210876, 0.47555137, 0.55072161, 0.74610952,
       0.35326818, 0.77566051, 0.46405494, 0.54756651, 0.45055137,
       0.64538514, 0.50215018, 0.33660152, 0.66588769, 0.4140869 ,
       0.54082913, 0.50888471, 0.38009499, 0.53486814, 0.33993485,
       0.476925  , 0.43660152, 0.39343117, 0.75324303, 0.34040453,
       0.51781577, 0.47555137, 0.54146996, 0.48269423, 0.60410456,
       0.71657636, 0.45986814, 0.401925  , 0.67285721, 0.70405718,
       0.56082913, 0.69845915, 0.48660152, 0.35718975, 0.51532562,
       0.18625413, 0.6399804 , 0.60410456, 0.42420836, 0.76495295,
       0.50405718, 0.3246996 , 0.47870901, 0.71657636, 0.61269423,
       0.41245898, 0.7687986 , 0.51072161, 0.47555137, 0.74634111,
       0.75801429, 0.51787182, 0.3743609 , 0.46405494, 0.56958747,
       0.35718975, 0.55326818, 0.45437039, 0.55177006, 0.33269423,
       0.75014989, 0.42410152, 0.40888471, 0.39885642, 0.35941798,
       0.63072161, 0.69038588, 0.55533308, 0.42991645, 0.50608464,
       0.78200981, 0.40198613, 0.70467444, 0.405583  , 0.48071917,
       0.75468095, 0.52836807, 0.71472451, 0.45636263, 0.48215303,
       0.57269423, 0.51245898, 0.4607151 , 0.39722753, 0.76055436,
       0.46781577, 0.69611237, 0.49072753, 0.30985733, 0.64610952,
       0.39289522, 0.30985733, 0.48326168])

In [62]:
# ここで問題が生存する確率がどこを上まったら生き残るの仮定するか
# 取り敢えず x > 0.5なら生存するとする

In [63]:
survival_final = []
for x in survival_final_preprocessed:
    if x>0.5:
        survival_final.append(1)
    else:
        survival_final.append(0)

In [64]:
survival_final

[0,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0]

In [65]:
test.head()

   PassengerId  Pclass     Sex   Age  SibSp  Parch     Fare
0          892       3    male  34.5      0      0   7.8292
1          893       3  female  47.0      1      0   7.0000
2          894       2    male  62.0      0      0   9.6875
3          895       3    male  27.0      0      0   8.6625
4          896       3  female  22.0      1      1  12.2875

In [66]:
test["Survived"] = survival_final

In [67]:
test = test.drop(columns=("Pclass"))

In [68]:
test = test.drop(columns=("Fare"))
test = test.drop(columns=("Parch"))
test = test.drop(columns=("SibSp"))
test = test.drop(columns=("Age"))
test = test.drop(columns=("Sex"))
test

     PassengerId  Survived
0            892         0
1            893         1
2            894         1
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [69]:
test

     PassengerId  Survived
0            892         0
1            893         1
2            894         1
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [70]:
test.to_csv("submit.csv", index=False)